---
interface Props {
  name: string;
  url: string;
  whitepaper: string;
  logo: string;
  blurb: string;
}

const { name, url: _url, whitepaper, logo, blurb } = Astro.props;
const logoAvif = logo.replace(/\.[^.]+$/, '.avif');
const logoWebp = logo.replace(/\.[^.]+$/, '.webp');
---

<article class="venture">
  <div class="venture-head">
    <picture>
      <source srcset={logoAvif} type="image/avif">
      <source srcset={logoWebp} type="image/webp">
      <img src={logo} alt={`${name} logo`} class="venture-logo" width="36" height="36" loading="lazy">
    </picture>
    <a href={whitepaper} class="venture-name">{name}</a>
  </div>
  <p class="venture-blurb">{blurb}</p>
</article>
